.drawerBar {
  width: 20%;
  /* flex-shrink: 0; */
  background-color: #212121;
  color: #fff;
  padding: 50px;
  /* margin: 10px; */
  /* top: 0;
  flex: 1 0 auto;
  height: 100%;
  display: 'flex';
  outline: 0;
  z-index: 1200;
  position: fixed;
  overflow-y: auto;
  flex-direction: column; */
}

/* .drawerPaper {
  width: 250px;
} */

#contactList {
  font-size: 0.875rem;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  line-height: 1.43;
  letter-spacing: 0.01071em;
  color: #fff;
}

#dividerBar {
  border: none;
  height: 1px;
  margin: 0;
  flex-shrink: 0;
  background-color: rgba(255, 255, 255, 0.12);
}

#searchBox {
  background-color: grey;
}

input[type="text"], textarea {
  background-color: #212121;
  color: #fff;
}

.zNoeh ul li {
  background-color: #212121;
  color: #fff;
}

a {
  color: #fff;
}