.curMessage {
  /* flex-grow: 1; */
  width: 100%;
  height: 100%;
  bottom: 0;
  margin: 0;
  /* width: 'calc(100% - 250px)'; */
  /* top: 0;
  height: 100%; */
  display: flex;
  flex-direction: column;
}

#messageBar {
  /* flex: 1; */
  position: relative;
  /* margin-left: 250px; */
  width: 100%;
  background-color: #121212;
  opacity: 1;
  transition: opacity 225ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.content {
  /* height: 100%; */
  /* margin: 0; */
  display: flex;
  flex-direction: column;
  flex: 1;
  outline: 0;
  position: absolute;
  bottom: 30px;
  top: 55px;
  width: 79%;
  height: 90%;
  max-height: 90%;
  margin-left: 10px;
  margin-right: 10px;
}

.chatFeedContainer {
  overflow-y: scroll;
  position: relative;
  width: 100%;
  height: 100%;
  scrollbar-color: grey black;
}

main {
  /* height: 500px; */
  flex-grow: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
}