.curMessage {
  /* flex-grow: 1; */
  width: 80%;
  bottom: 0;
  margin: 0;
  /* width: 'calc(100% - 250px)'; */
  /* top: 0;
  height: 100%; */
  /* display: flex;
  flex-direction: column; */
}

#messageBar {
  margin-left: 250px;
  width: 80%;
  background-color: #121212;
  opacity: 1;
  transition: opacity 225ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

#content {
  flex-grow: 1;
  height: 100%;
  margin: 0;
  display: 'flex';
  flex: 1 0 auto;
  outline: 0;
  position: fixed;
  flex-direction: column;
  width: 75%;
  margin-left: 20px;
  margin-right: 20px;
  align-self: baseline;
}